body {
  background: $list-bg;
}
.filter-item {
  background: $filter-bg;
  .el-input {
    font-size: 16px;
  }
}
.el-select-dropdown__item {
  font-size: 16px;
}

.travel-list {
  margin-top: 15px;
  .cart-img {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .card-text-truncate {
    position: relative;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    &:after {
      content: "...";
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 10px;
      background-color: #fff;
    }
  }
  .card-body i {
    color: $icon-color;
  }
}